# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.egg-info/

# VSCode
.vscode/

# Environment
.env
*.env
.env.*

# Jupyter & IPython
.ipynb_checkpoints/
*.ipynb

# Mac & OS
.DS_Store

# Logs
*.log
logs/

#venv
venv
__pycache__

.gitignore
.gitconfig
.gitattributes